{% extends 'layout/accueil.twig' %}
    {% block title %} Accueil {% endblock %}
    {% block content %}
        <div class="col-md-6">
            <h2>ACS Book</h2>
            <h2>La communication <br />entre<br/> développeurs!</h2>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body text-center form-inline">
                    <h2>Inscription rapide et 100% gratuite</h2>
                    <div style="margin-top: 10%"></div>
                    Nom:
                    <div class="input-group">
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div><br /><br />
                    Prénom:
                    <div class="input-group">
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div><br /><br />
                    Email:
                    <div class="input-group">
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div><br/><br />
                    Mot de passe:
                    <div class="input-group">
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div><br /> <br />
                    <div class="input-group">
                        <input type="submit" class="btn btn-default" style="text-align: center;" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                    <p style="margin-top: 2%">En vous enregistrant, vous acceptez les termes et conditions générales d'utilisations</p>
                </div>
            </div>
        </div>
    {% endblock %}
