{% extends 'templates/layout/layout.html' %}
    {% block title %} Liste d'amis {% endblock %}
    {% block content %}
    	<h1 class="text-center">Liste de vos amis</h1>
    	<div class="col-xs-12">
                <div class="col-xs-offset-1 col-xs-5 text-center violet friends">
    		        <div class="group-ami">
    				    <img style="height:65px;width:65px;" src="{{avatar}}">
    				    <p style="font-size: 25px;">Clément</p>
    			    </div>
                </div>
                <div class="col-xs-offset-1 col-xs-5 text-center violet friends">
    			    <div class="group-ami">
    				    <img style="height:65px;width:65px;" src="{{avatar}}">
    				    <p style="font-size: 25px;">Clément</p>
    			    </div>
                </div>
                <div class="col-md-offset-1 col-md-5 text-center violet friends">
    			    <div class="group-ami">
    				    <img style="height:65px;width:65px;" src="{{avatar}}">
    				    <p style="font-size: 25px;">Romain</p>
    			    </div>
    		    </div>
    		<div class="col-md-offset-1 col-md-5 text-center violet friends">
    			<div class="group-ami">
    				<img style="height:65px;width:65px;" src="{{avatar}}">
    				<p style="font-size: 25px;">Sarah</p>
    			</div>
            </div>
            <div class="col-md-offset-1 col-md-5 text-center violet friends">
    			<div class="group-ami">
    				<img style="height:65px;width:65px;" src="{{avatar}}">
    				<p style="font-size: 25px;">Sarah</p>
    			</div>
            </div>
            <div class="col-md-offset-1 col-md-5 text-center violet friends">
    			<div class="group-ami">
    				<img style="height:65px;width:65px;" src="{{avatar}}">
    				<p style="font-size: 25px;">Romain</p>
    			</div>
     		</div>	
    	</div>
        {% endblock %}