{% extends 'templates/layout/layout.html' %}
    {% block title %} Liste d'amis {% endblock %}
    {% block content %}
    <input type="hidden" id="id" value="{{ id }}">
    	<h1 class="text-center">Liste de vos amis</h1>
    	<div class="col-xs-12">
    		<div class="col-xs-5 text-center violet friends">
    			<div class="group-ami">
    				<img src="https://avatars1.githubusercontent.com/u/14977438?v=3&s=60">
    				<p>Clément</p>
    			</div>
    			<div class="group-ami">
    				<img src="https://avatars1.githubusercontent.com/u/14977438?v=3&s=60">
    				<p>Clément</p>
    			</div>
    			<div class="group-ami">
    				<img src="https://avatars2.githubusercontent.com/u/23701130?v=3&s=60">
    				<p>Romain</p>
    			</div>
    		</div>
    		<div class="col-xs-offset-1 col-xs-5 text-center violet friends">
    			<div class="group-ami">
    				<img src="https://avatars2.githubusercontent.com/u/23716537?v=3&s=60">
    				<p>Sarah</p>
    			</div>
    			<div class="group-ami">
    				<img src="https://avatars2.githubusercontent.com/u/23716537?v=3&s=60">
    				<p>Sarah</p>
    			</div>
    			<div class="group-ami">
    				<img src="https://avatars2.githubusercontent.com/u/23701130?v=3&s=60">
    				<p>Romain</p>
    			</div>
     		</div>
    		<div class="col-xs-offset-1 col-xs-5">
    		</div>
    	</div>
    {% endblock %}