{% extends 'templates/layout/layout.html'%}
{% block title %} Accueil {% endblock %}
	{% block content %}
        <div class="container header">
            <div id="placement">
                <h1> Bienvenue sur Acs Book</h1>
                <ul class="hauteur"><a href="?controller=posts&action=friends">Liste de vos amis</a>:
		</ul>
                <ul class="hauteur">Vos groupes:
                    <li class="espace"><a  href="#">Professionel</a></li>
                    <li class="space"><a href="#">Famille</a></li>
                    <li class="space"><a href="#">Personnel</a></li></ul>
            </div>
        </div>
        <div class="groupMessage">
            <div class="panel panel-default">
                <div class="panel-body">
                    <textarea class="form-control" rows="4" cols="50" id="message" placeholder="Exprimez vous...."></textarea>
                    <input type="hidden" id="id" value="{{ id }}">
                    <div style="margin-top: 2%">
                        <button class="btn btn-default button right" id="submit" type="button">Publier</button>
                    </div>
                </div>
            </div>
            <div id="actu" style="margin-top:3%;"><a href="#"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Chargement...</a></div>
        </div>
{% endblock %}
